<br>
<div class="container centralizar">
    <div class="row">

        <div class="col-lg-12"></div>

        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h3>Listagem de Autores</h3>
                    <div class="direita">
                        <!-- <button type="button" class="btn btn-primary btn-rounded" mdbRipple routerLink="/admin/autores/new" >
                            Novo
                        </button> -->
                        <button type="button" class="btn btn-primary btn-rounded" mdbRipple (click)="new()" >
                            Novo
                        </button>
                    </div>
                    <br>
                    <table class="table table-striped border">
                        <thead class="border">
                            <tr>
                                <th>ID</th>
                                <th>Nome</th>
                                <th class="float-end" style="margin-right: 115px;">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (autor of lista; track $index) {
                            <tr>
                                <td>{{ autor.id }}</td>
                                <td>{{ autor.nome }}</td>
                                <td>
                                    <!-- <button type="button" class="btn btn-primary btn-rounded float-end me-5" mdbRipple routerLink="/admin/autores/edit/{{ autor.id }}" >
                                        Editar
                                    </button> -->
                                    <button type="button" class="btn btn-primary btn-rounded float-end me-5" mdbRipple (click)="edit(autor)" >
                                        Editar
                                    </button>
                                    <button type="button" class="btn btn-danger btn-rounded float-end" mdbRipple (click)="deleteById( autor.id )" >
                                        Deletar
                                    </button>
                                </td>
                            </tr>   
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-lg-4"></div>

    </div>
</div>

<ng-template #modalAutorDetails>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cadastro de Autor:</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.close()"></button>
    </div>
    <div class="modal-body">
        <app-autoresdetails [autor]="autorEdit" (retorno)="retornoDetails($event)"></app-autoresdetails>
    </div>
</ng-template>